# appveyor.yml
---
environment:
  matrix:
  - TOXENV: py37
    PYTHON: "3.7"
  - TOXENV: py38
    PYTHON: "3.8"
  - TOXENV: py39
    PYTHON: "3.9"
  - TOXENV: py310
    PYTHON: "3.10"

stack: python %PYTHON%

build: off

image: Ubuntu

install:
- python -m pip install tox poetry==1.1.11

test_script:
- python -m tox
