sudo: false
dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
before_install:
  - pip install --upgrade pip
  - pip install poetry
install:
  - pip install tox-travis
script:
    - tox
