alabaster==0.7.13 ; python_version >= "3.7" and python_version < "4.0"
astroid==2.11.7 ; python_version >= "3.7" and python_version < "4.0"
attrs==22.2.0 ; python_version >= "3.7" and python_version < "4.0"
babel==2.12.1 ; python_version >= "3.7" and python_version < "4.0"
black==23.3.0 ; python_version >= "3.7" and python_version < "4.0"
certifi==2022.12.7 ; python_version >= "3.7" and python_version < "4"
charset-normalizer==3.1.0 ; python_version >= "3.7" and python_version < "4"
click-log==0.4.0 ; python_version >= "3.7" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "4.0"
contextlib2==21.6.0 ; python_version >= "3.7" and python_version < "4.0"
coverage[toml]==7.2.2 ; python_version >= "3.7" and python_version < "4.0"
darglint==1.8.1 ; python_version >= "3.7" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.7" and python_version < "4.0"
dill==0.3.6 ; python_version >= "3.7" and python_version < "4.0"
dnspython==2.3.0 ; python_version >= "3.7" and python_version < "4.0"
doc8==0.11.2 ; python_version >= "3.7" and python_version < "4.0"
docutils==0.18.1 ; python_version >= "3.7" and python_version < "4.0"
dparse==0.6.2 ; python_version >= "3.7" and python_version < "4.0"
exceptiongroup==1.1.1 ; python_version >= "3.7" and python_version < "3.11"
execnet==1.9.0 ; python_version >= "3.7" and python_version < "4.0"
freezegun==1.2.2 ; python_version >= "3.7" and python_version < "4.0"
future==0.18.3 ; python_version >= "3.7" and python_version < "4.0"
idna==3.4 ; python_version >= "3.7" and python_version < "4"
imagesize==1.4.1 ; python_version >= "3.7" and python_version < "4.0"
importlib-metadata==6.1.0 ; python_version >= "3.7" and python_version < "3.10"
importlib-resources==5.12.0 ; python_version >= "3.7" and python_version < "3.9"
iniconfig==2.0.0 ; python_version >= "3.7" and python_version < "4.0"
isort==5.11.5 ; python_version >= "3.7" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.7" and python_version < "4.0"
jsonrpc-requests==0.4.0 ; python_version >= "3.7" and python_version < "4.0"
jsonschema==4.17.3 ; python_version >= "3.7" and python_version < "4.0"
lazy-object-proxy==1.9.0 ; python_version >= "3.7" and python_version < "4.0"
mando==0.6.4 ; python_version >= "3.7" and python_version < "4.0"
markupsafe==2.1.2 ; python_version >= "3.7" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.7" and python_version < "4.0"
multitimer==0.3 ; python_version >= "3.7" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.7" and python_version < "4.0"
mypy==1.1.1 ; python_version >= "3.7" and python_version < "4.0"
packaging==23.0 ; python_version >= "3.7" and python_version < "4.0"
pathspec==0.11.1 ; python_version >= "3.7" and python_version < "4.0"
pbr==5.11.1 ; python_version >= "3.7" and python_version < "4.0"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.7" and python_version < "3.9"
platformdirs==3.2.0 ; python_version >= "3.7" and python_version < "4.0"
pluggy==1.0.0 ; python_version >= "3.7" and python_version < "4.0"
prettytable==3.6.0 ; python_version >= "3.7" and python_version < "4.0"
psutil==5.9.4 ; python_version >= "3.7" and python_version < "4.0"
pybase62==0.6.0 ; python_version >= "3.7" and python_version < "4.0"
pycryptodome==3.17 ; python_version >= "3.7" and python_version < "4.0"
pygments==2.14.0 ; python_version >= "3.7" and python_version < "4.0"
pylint==2.13.9 ; python_version >= "3.7" and python_version < "4.0"
pymongo==4.3.3 ; python_version >= "3.7" and python_version < "4.0"
pyrsistent==0.19.3 ; python_version >= "3.7" and python_version < "4.0"
pytest-cov==4.0.0 ; python_version >= "3.7" and python_version < "4.0"
pytest-deadfixtures==2.2.1 ; python_version >= "3.7" and python_version < "4.0"
pytest-mock==3.10.0 ; python_version >= "3.7" and python_version < "4.0"
pytest-randomly==3.12.0 ; python_version >= "3.7" and python_version < "4.0"
pytest-timeout==2.1.0 ; python_version >= "3.7" and python_version < "4.0"
pytest-xdist==3.2.1 ; python_version >= "3.7" and python_version < "4.0"
pytest==7.2.2 ; python_version >= "3.7" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.7" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.7" and python_version < "4.0"
pyudev==0.22.0 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "linux"
pywin32==306 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0 ; python_version >= "3.7" and python_version < "4.0"
radon==5.1.0 ; python_version >= "3.7" and python_version < "4.0"
requests==2.28.2 ; python_version >= "3.7" and python_version < "4"
responses==0.23.1 ; python_version >= "3.7" and python_version < "4.0"
restructuredtext-lint==1.4.0 ; python_version >= "3.7" and python_version < "4.0"
ruamel-yaml-clib==0.2.7 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.7"
ruamel-yaml==0.17.21 ; python_version >= "3.7" and python_version < "4.0"
safety==2.3.4 ; python_version >= "3.7" and python_version < "4.0"
schema==0.7.5 ; python_version >= "3.7" and python_version < "4.0"
setuptools==67.6.1 ; python_version >= "3.7" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.7" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.7" and python_version < "4.0"
sphinx-autodoc-typehints==1.22 ; python_version >= "3.7" and python_version < "4.0"
sphinx-click==4.4.0 ; python_version >= "3.7" and python_version < "4.0"
sphinx-rtd-theme==1.2.0 ; python_version >= "3.7" and python_version < "4.0"
sphinx==5.3.0 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-jquery==4.1 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-programoutput==0.17 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.7" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.7" and python_version < "4.0"
stevedore==3.5.2 ; python_version >= "3.7" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.7" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.7" and python_full_version <= "3.11.0a6"
typed-ast==1.5.4 ; python_version < "3.8" and python_version >= "3.7"
typeguard==2.13.3 ; python_version >= "3.7" and python_version < "4.0"
types-pyyaml==6.0.12.9 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.7" and python_version < "4.0"
urllib3==1.26.15 ; python_version >= "3.7" and python_version < "4.0"
uuid0==0.2.7 ; python_version >= "3.7" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.7" and python_version < "4.0"
wmi==1.5.1 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32"
wrapt==1.15.0 ; python_version >= "3.7" and python_version < "4.0"
xenon==0.9.0 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "3.10"
